@import "tailwindcss";

:root {
    --white: #fff;
    --grey: #949494;

    --blue-700: #36384D;
    --blue-800: #242742;

    --red: #FF6155;

    --gradient-4: linear-gradient(90deg,rgba(255, 106, 58, 1) 0%, rgba(255, 82, 123, 1) 100%);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--blue-700);
}

p, h1 {
    color: var(--blue-800);
}

.text-preset-1 {
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0;
}

.text-preset-1-large {
    font-size: 56px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0;
}

.text-preset-2-bold {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0;
}

.text-preset-2-regular {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0;
    color: #242742;
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    background: var(--gradient-4) !important;
    box-shadow: 0 10px 20px rgba(255, 106, 58, 0.2), 0 6px 6px rgba(255, 82, 123, 0.2) !important;
}
